#fork #fork-portal-center,
#fork #fork-portal-start,
#fork #fork-portal-end,
#fork .f-panel-last-topics .f-panel-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#fork .f-panel-header,
#fork .f-panel-topic-header {
  display: block;
  padding: 0 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
}

#fork .f-panel-last-topics .f-panel-header {
  margin-bottom: 1rem;
}

#fork .f-panel-last-topics .f-panel-header,
#fork .f-panel-content,
#fork .f-panel-body-info {
  background-color: var(--bg-like-nav);
  border: 0.0625rem solid var(--br-fprimary);
  padding: 0.625rem;
}

#forka .f-fs-disabled {
  opacity: 0.4;
}

#fork .f-panel .f-post-body {
  width: 100%;
  background-color: var(--bg-like-nav);
  border: 0.0625rem solid var(--br-fprimary);
  border-bottom: 0;
}

#fork .f-panel .f-post-body::before,
#fork .f-panel .f-post-body::after {
  content: none;
}

#fork .f-panel-topic-footer {
  padding: 0.3125rem 0.625rem;
  background-color: var(--bg-like-nav);
  border: 0.0625rem solid var(--br-fprimary);
  border-top-style: dotted;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

#fork .f-panel-topict-cmm-count {
  margin-inline-start: auto;
}

#fork .f-panel-topic-author::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f007";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-topict-posted::before,
#fork .f-panel-info-max-date::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f017";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-topict-view-count::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f06e";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-topict-cmm-count::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f086";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-topic-rm {
  text-align: center;
}

#fork .f-panel-recent-posts-li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#fork .f-panel-body-info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

#fork .f-panel-info-total-dl,
#fork .f-panel-info-max-dl,
#fork .f-panel-info-cur-dl {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 13rem;
  justify-content: space-around;
}

#fork .f-panel-info-total-dt,
#fork .f-panel-info-max-dt,
#fork .f-panel-info-cur-dt,
#fork .f-panel-info-online-dt {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#fork .f-panel-info-online {
  width: 100%;
}

#fork .f-panel-info-total-topic::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f0c5";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-info-total-post::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f086";
  margin-inline-end: 0.3125rem;
}


#fork .f-panel-info-total-user::before,
#fork .f-panel-info-max-user::before {
  font-family: "fa";
  font-weight: 900;
  font-size: 0.875rem;
  content: "\f0c0";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-info-cur-user::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f2bd";
  margin-inline-end: 0.3125rem;
}

#fork .f-panel-info-cur-guest::before {
  font-family: "fa";
  font-weight: 400;
  font-size: 0.875rem;
  content: "\f059";
  margin-inline-end: 0.3125rem;
}


@media screen and (max-width: 63.9999rem) {
  #fork .f-portal {
    display: block;
  }

  #fork .f-portal > div + div {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 64rem) {
  #fork .f-portal {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    align-items: stretch;
  }

  #fork #fork-portal-start {
    flex-basis: 15em;
    flex-shrink: 0;
    flex-grow: 1;
    order: -1;
  }

  #fork #fork-portal-center {
    flex-basis: calc(100% - 32rem);
    min-width: 28rem;
    flex-grow: 1000;
  }

  #fork #fork-portal-end {
    flex-basis: 15em;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

#fork-nav-portal .f-menu-a::before {
  content: "\f6d9";
}

#fork .f-cr-portal-a::before {
  display: inline-block;
  font: 900 0.875rem "fa";
  content: "\f6d9\a0";
}

#fork .f-cr-portal-a > span {
  display: none;
}
